.bouton:hover {
  transform: scale(1.1);
}

footer {
  margin: 0 auto;
  max-width: 1200px;
  height: 20;
}
footer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}
footer .footer .bouton_precedent, footer .footer .bouton_suivant {
  padding: 20px;
}
footer .footer .precedent, footer .footer .suivant {
  cursor: pointer;
  border-radius: 10%;
  border: 2px solid black;
  text-align: center;
  background-color: white;
  font-size: 20px;
}
footer .footer .precedent:hover {
  transform: scale(1.5);
}
footer .footer .suivant:hover {
  transform: scale(1.5);
}

.grille {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  justify-content: center;
  grid-template-areas: "case1 case2" "case3 case4";
  max-width: 1200px;
  margin: 0 auto;
}
.grille .case1, .grille .case2, .grille .case3, .grille .case4 {
  border: 3px solid;
  box-shadow: 3px 3px 3px 3px rgb(255, 255, 255);
  text-align: center;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  height: 280px;
  width: 350px;
}
.grille .case1 {
  grid-area: case1;
}
.grille .case2 {
  grid-area: case2;
}
.grille .case3 {
  grid-area: case3;
}
.grille .case4 {
  grid-area: case4;
}
.grille .git {
  width: 115px;
}

@media screen and (max-width: 600px) {
  .grille {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "case1" "case2" "case3" "case4";
  }
}
.body {
  height: 100%;
}

.cv {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "exp competence" "exp loisir";
  gap: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  border: 3px solid;
  box-shadow: 3px 3px 3px rgb(255, 255, 255);
  max-width: 1200px;
  margin: auto;
  width: 70%;
}
.cv .exp {
  grid-area: exp;
  font-size: 20px;
}
.cv .competence {
  grid-area: competence;
  font-size: 20px;
}
.cv .loisir {
  grid-area: loisir;
  font-size: 20px;
}
.cv .date {
  padding: 20px 0 0 0;
  white-space: normal;
}
.cv .ligne_competence {
  padding: 2px 0 0 0;
  white-space: normal;
}
.cv .ligne_loisir {
  padding: 2px 0 0 0;
  white-space: normal;
}

@media screen and (max-width: 600px) {
  .cv {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "exp " "competence" "loisir";
  }
}
nav {
  margin: 0 auto;
}
nav .barre {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  margin: 0 0 50px 0;
}
nav .liste {
  display: flex;
}
nav a {
  text-decoration: none;
  color: white;
}
nav .lien {
  display: flex;
  padding: 0 10px 0 0;
}
nav .patout {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0 16px;
}

.background_image {
  background-image: linear-gradient(to bottom, rgba(50, 116, 33, 0.26), rgba(124, 194, 124, 0.404), rgba(50, 116, 33, 0.26)), url("/images/fond.jpg");
  background-repeat: inherit;
  margin: 0;
  height: 100%;
  -o-object-fit: center;
     object-fit: center;
}
.background_image div.coordonnee_contact {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background_image div.coordonnee_contact .page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 450px;
  background-color: white;
  border-radius: 5%;
  border: 3px solid;
  box-shadow: 3px 3px 3px 3px rgb(255, 255, 255);
  margin: 0 35% 0 0;
}
.background_image div.coordonnee_contact .contact {
  display: flex;
  padding: 20px;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .page_contact .fond {
    left: auto;
  }
}
.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.presentation .photo {
  width: 230px;
  height: 300px;
  border-radius: 2%;
  box-shadow: 3px 3px 3px rgb(255, 255, 255);
  margin-right: 8%;
}
.presentation ul {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 250px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 8%;
  box-shadow: 3px 3px 3px rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  padding: 3px;
}
.presentation ul li {
  display: flex;
  padding: 10px 0 0 0;
  margin: 0 0 0 0;
}
.presentation .bouton {
  cursor: pointer;
  text-align: center;
  background-color: white;
  font-size: 15px;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
  border-radius: 10%;
}
.presentation h2 {
  width: 400px;
  white-space: normal;
}

@media screen and (max-width: 800px) {
  .presentation {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  ul li {
    display: flex;
    white-space: normal;
  }
}/*# sourceMappingURL=main.css.map */