footer {
    margin: 0 auto;
    max-width: 1200px;
    height: 20;


    .footer {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgba(255, 255, 255, 0);


        .bouton_precedent,.bouton_suivant{
            padding: 20px;
        }
        .precedent,.suivant{
            cursor: pointer;
            border-radius: 10%;
            border: 2px solid black;
            text-align: center;
            background-color: white;
            font-size: 20px;

        }

        .precedent:hover {

            transform: scale(1.5);


        }

        .suivant:hover {

            transform: scale(1.5);

        }
    }
}