.body{
    height: 100%;
}
.page_cv{
    height: 70%;
}
.cv {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "exp competence"
        "exp loisir";
    gap: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    border: 3px solid;
    box-shadow: 3px 3px 3px rgb(255, 255, 255); 
    max-width: 1200px;
    margin: auto;
    width: 70%;


    .exp {
        grid-area: exp;
        font-size: 20px;
    }

    .competence {
        grid-area: competence;
        font-size: 20px;
    }

    .loisir {
        grid-area: loisir;
        font-size: 20px;
    }

    .date {
        padding: 20px 0 0 0;
        white-space: normal;
    }

    .ligne_competence{
        padding: 2px 0 0 0;
        white-space: normal;
    }

    .ligne_loisir{
        padding: 2px 0 0 0;
        white-space: normal;
    }
}


@media screen and (max-width:600px) {
    .cv {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "exp "
            "competence"
            "loisir";
    }

}