.background_image {
    background-image: linear-gradient(to bottom, rgba(50, 116, 33, 0.26), rgba(124, 194, 124, 0.404), rgba(50, 116, 33, 0.26)),
        url('https://gitpatout.github.io/portefolio/images/fond.jpg');
    background-repeat: inherit;
    margin: 0;
    height: 100%;
    width: 100%;


    div.coordonnee_contact {
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    
        .page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 500px;
            height: 450px;
            background-color: white;
            border-radius: 5%;
            border: 3px solid;
            box-shadow: 3px 3px 3px 3px rgb(255, 255, 255);
            margin: 0 35% 0 0;
        }


        .contact {
            display: flex;
            padding: 20px;
            font-size: 20px;
        }
    }

}

@media screen and (max-width: 800px) {

    .page_contact .fond {
        left: auto;

    }

}